[core]
	autocrlf = input
	editor = vim

[init]
	defaultBranch = main

[user]
	email = putubanerjee23@gmail.com
	name = Pratyay Banerjee

[url "git@github.com:"]
	insteadOf = https://github.com/

[push]
	autoSetupRemote = true

[pull]
	rebase = false

[rebase]
	autoStash = true

[diff]
	renames = copy
	colorMoved = default

[merge]
	conflictstyle = diff3

[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	undo = reset --soft HEAD~1
	conflicts = !git ls-files --unmerged | cut -f2 | sort -u
